@{
    ViewData["Title"] = "Home Page";
}
<div class="container m-5">
<a href="/Patient/Index" class="p-4 bg-success text-white m-3 text-decoration-none" text="Patient">Patients</a>
<a href="/Doctor/Index" class="p-4 bg-danger text-white m-3 text-decoration-none" text="Patient">Doctors</a>
<a href="/Appointment/Index" class="p-4 bg-primary text-white m-3 text-decoration-none" text="Patient">Appointments</a></div>